#chris {
  display: none;
}

#cardi {
  display: none;
}

#cardib {
  height: 300px;
  width: 400px;
}

#obama {
  display: none;
}

#soha {
  display: none;
}

#me {
  height: 300px;
  width: 275px;
}

#title {
  text-align: center;
}
